name: flutter_media_metadata
description: A Flutter plugin to read metadata of media files.
version: 1.1.2
homepage: https://github.com/alexmercerind/flutter_media_metadata
repository: https://github.com/alexmercerind/flutter_media_metadata
documentation: https://github.com/alexmercerind/flutter_media_metadata/blob/master/README.md

environment:
  sdk: ">=3.0.5 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  js: ^0.7.1
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  cider: ^0.2.8
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.alexmercerind.flutter_media_metadata
        pluginClass: FlutterMediaMetadataPlugin
      windows:
        pluginClass: FlutterMediaMetadataPlugin
      linux:
        pluginClass: FlutterMediaMetadataPlugin
      ios:
        pluginClass: FlutterMediaMetadataPlugin
      macos:
        pluginClass: FlutterMediaMetadataPlugin
      web:
        pluginClass: MetadataRetriever
        fileName: src/flutter_media_metadata_web.dart
